/backend/node_modules
/backend/dist
/frontend/node_modules
/frontend/dist
.env
.env.*
env.*
/frontent-next/node_modules
/frontent-next/dist
/frontent-next/.next
frontend/env.download
frontend/.env.download